.schedule__content {
  // width: 100vw;
  // display: flex;
  max-height: calc(100vh - 50px - 50px);
  flex-wrap: wrap;

  > div {
    &:first-child {
      width: 15%;
      height: 100%;
    }
  }

  .schedule__day {
    display: flex;
    width: calc(100% - 40px);
    overflow-x: auto;
    margin: 0px;
    
    > li {
      width: 20%;
      margin-right: 9px;
      position: relative;

      > p {
        padding: 0 25px;
        height: 45px;
        white-space: nowrap;
        margin: 0;
        line-height: calc(45px - 6px * 2 / 2);
      }

      .schedule__work {
        display: flex;
        height: 47px;
        // width: 100px;
        margin-bottom: 3px;
        // height: calc(100% - 45px );\
        background-color: #EFEFEF;
        position: relative;
        > div {
          width: 100%;
          color: white;
          font-size: 100%;
        }
      }

      .schedule__employee_work {
        position: absolute;
        top: 45px;
        width: 20%;
        grid-row-start: 1;
        // height: 40%;
        height: calc(60% - 45px - 3px);
        background-color: #C275FF;
      }
    }
  }
}
.mains{
  background-color: gray !important;
}
#droppable {
  background-color: transparent;
}
.selectable-selectbox {
  z-index: 9000;
  position: absolute;
  cursor: default;
  background: none;
  border: 1px dashed grey;
}

        /* 스타일을 추가합니다. */
        .save-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #3498db; /* 배경색 */
            color: #fff; /* 글자색 */
            border: none;
            border-radius: 5px; /* 둥근 모서리 */
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease; /* 마우스 오버 시 배경색 변화 효과 */
        }

        .save-button:hover {
            background-color: #217dbb; /* 마우스 오버 시 배경색 변경 */
        }


ul{
  overflow: hidden;
}
